<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo</title>
</head>
<body>
<!-- visao_geral.html -->

<h1>Resumo do Ano</h1>

<table>
    <tr>
        <th>Subcategoria</th>
        {% for nome in meses %}
            <th>{{ nome }}</th>
        {% endfor %}
    </tr>
    {% for categoria, dados in resumo.items %}
        <tr>
            <td colspan="14">{{ categoria }}</td>
        </tr>
        {% for subcategoria, valores in dados.subcategorias.items %}
            <tr>
                <td>{{ subcategoria }}</td>
                {% for valor in valores %}
                    <td>{% if valor != None %}R$ {{ valor }}{% endif %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <td>Total</td>
            {% for valor in dados.total %}
                <td>{% if valor != None %}R$ {{ valor }}{% endif %}</td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>







</body>
</html>