<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resumo</title>
</head>
<body>
    <h2>Visão Geral</h2>
    {% for categoria, dados in resumo.items %}
    <h3>{{ categoria }}</h3>
    <table>
      <thead>
        <tr>
          <th>Subcategoria</th>
          {% for mes in meses %}
            <th>
              <a href="{% url 'transacoes-mes' mes=mes.0 %}">{{ mes.1 }}</a>
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for subcategoria, valores in dados.subcategorias.items %}
          <tr>
            <td>{{ subcategoria }}</td>
            {% for valor in valores %}
              <td>R$ {% if valor != 0 %}{{ valor }}{% else %}-{% endif %}</td>
            {% endfor %}
          </tr>
        {% endfor %}
        <tr>
          <td><b>Total</b></td>
          {% for valor in dados.total %}
            <td><b>R$ {% if valor != 0 %}{{ valor }}{% else %}-{% endif %}</b></td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <br>
  {% endfor %}
  












</body>
</html>